#hp_s1 {
    background-color: black;
    height: 100px;
    width: 100%;
}
#hp_s1_header {
    font-size: 30px;
    padding-top: 34px;
    margin-left: 3.85%;
    color: white;
}
#hp_s2 {
    background-color: #191919;
    height: 30px;
    width: 100%;
}
.navbar {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    color: white;
    padding-top: 3px;
    margin-left: 3.85%;
}
.navbar:hover {
    cursor: pointer;
}
#signup {
    margin-right: 3.85%;
    float: right;
}
#signup_icon {
    width: 17px;
    vertical-align: top;
    display: inline-block;
    margin-top: 3px;
}
#signup_txt {
    margin-left: 7px;
    vertical-align: top;
    display: inline-block;
}
#signup_link {
    text-decoration: none;
    color: white;
}
#hp_border {
    border-bottom: black solid 5px;
}
#hp_s3 {
    background-color: #191919;
    height: 500px;
    width: 100%;
}
#hp_s3_black_box {
    background-color: black;
    height: 300px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
}
.hp_s3_txt {
    color: white;
    text-align: center;    
}
#hp_s3_header {
    font-size: 80px;
    margin-top: 66px;
}
#hp_s3_slogan {
    font-size: 16px;
    margin-top: 20px;
}
footer {
    background-color: black;
    width: 100%;
    height: 75px;
    text-align: center;
}
#footer_txt {
    color: white;
    margin-top: 25px;
    display: inline-block;
}

