body {
    width: 100%;
}
.create_new_pass_txt {
    text-align: center;
}
#create_new_pass_header {
    margin-top: 220px;
    font-size: 60px;
}
#create_new_pass_btn {
    margin-top: 20px;
    display: block;
    width: 300px;
    border-radius: 0px;
    font-size: 20px;
    margin-left: 39%;
    background-color: #191919;
    color: white;
}
#homepage_link {
    text-decoration: none;
}